/CalculateSal.class
/CountOfThreeMultiples.class
/CricketId.class
/ElementCount.class
/FahrenToCenti.class
/HighestFeedback.class
/PowerOfTwo.class
/ProductOfDigits.class
/RepeatedSalaryCount.class
/maximumSum.class
